@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  padding-top: 20px;
  background: url("assets/images/bg.jpg") no-repeat 50%/cover;
  font-family: 'Paytone One', sans-serif;
  text-transform: uppercase;
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.title {
  text-align: center;
  font-size: 80px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #384251,0 -2px 1px #fff;
  letter-spacing: -4px;
  margin-bottom: 0.5em; }

.menu, .sizes, .savesMainMenu {
  margin: 0 auto;
  font-size: 40px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #384251,0 0px 1px #fff;
  letter-spacing: -0px;
  line-height: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left; }
  .menu div, .sizes div, .savesMainMenu div {
    cursor: pointer; }
    .menu div:hover, .sizes div:hover, .savesMainMenu div:hover {
      -webkit-animation: menu 0.4s infinite;
              animation: menu 0.4s infinite;
      color: #F3F5A1; }

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  75% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes menu {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  75% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
  .menu.inactive, .sizes.inactive, .savesMainMenu.inactive {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg); }

.sizes.inactive {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg); }

body.block:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  overflow: hidden;
  background-color: rgba(120, 80, 115, 0.6); }

.win_popup {
  position: absolute;
  width: 30%;
  height: 30%;
  z-index: 6;
  background-color: #785073;
  color: #fff;
  font-size: 20px;
  font-family: Arial, serif;
  line-height: 2;
  padding: 10px;
  top: 35%;
  left: 35%;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
          box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
  display: none;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .win_popup.active {
    display: block;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.puzzle {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(28, 94, 125, 0.5);
  -webkit-tap-highlight-color: transparent;
  display: grid;
  grid-auto-rows: 95px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
          box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
  margin-bottom: 1em; }

.gem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(28, 94, 125, 0.8);
  background: -o-linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  background: linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  color: rgba(255, 255, 255, 0.7);
  font-size: 40px;
  font-family: 'Paytone One', sans-serif;
  cursor: pointer;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px; }
  .gem.animation-left {
    -webkit-animation: animation-left 0.3s ease-in forwards;
            animation: animation-left 0.3s ease-in forwards; }
  .gem.animation-right {
    -webkit-animation: animation-right 0.3s ease-in forwards;
            animation: animation-right 0.3s ease-in forwards; }
  .gem.animation-top {
    -webkit-animation: animation-top 0.3s ease-in forwards;
            animation: animation-top 0.3s ease-in forwards; }
  .gem.animation-bottom {
    -webkit-animation: animation-bottom 0.3s ease-in forwards;
            animation: animation-bottom 0.3s ease-in forwards; }

@-webkit-keyframes animation-left {
  100% {
    -webkit-transform: translate(-105px);
            transform: translate(-105px); } }

@keyframes animation-left {
  100% {
    -webkit-transform: translate(-105px);
            transform: translate(-105px); } }

@-webkit-keyframes animation-right {
  100% {
    -webkit-transform: translate(105px);
            transform: translate(105px); } }

@keyframes animation-right {
  100% {
    -webkit-transform: translate(105px);
            transform: translate(105px); } }

@-webkit-keyframes animation-top {
  100% {
    -webkit-transform: translateY(-105px);
            transform: translateY(-105px); } }

@keyframes animation-top {
  100% {
    -webkit-transform: translateY(-105px);
            transform: translateY(-105px); } }

@-webkit-keyframes animation-bottom {
  100% {
    -webkit-transform: translateY(105px);
            transform: translateY(105px); } }

@keyframes animation-bottom {
  100% {
    -webkit-transform: translateY(105px);
            transform: translateY(105px); } }

.empty {
  font-size: 0;
  visibility: hidden;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px; }

.controlPanel {
  position: fixed;
  left: 5%;
  top: 15%;
  background: rgba(28, 94, 125, 0.5);
  border-radius: 5px;
  width: 300px;
  padding: 15px;
  display: none; }
  .controlPanel.active {
    display: block; }

.timer, .moves {
  width: 100%;
  line-height: 2;
  position: relative;
  text-align: left;
  padding-left: 7.5em;
  font-family: 'Paytone One', sans-serif;
  font-size: 1.5em;
  padding-top: 0.6em;
  background-color: rgba(28, 94, 125, 0.8);
  background: -o-linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  background: linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  border-radius: 5px; }
  .timer:before, .moves:before {
    content: 'Moves:';
    font-family: 'Paytone One', sans-serif;
    position: absolute;
    left: 1em;
    top: -webkit-calc(50% - 0.75em);
    top: calc(50% - 0.75em); }

.timer:before {
  content: 'your time:'; }

.solutionBtn, .leadersBtn, .backBtn, .saveBtn, .loadBtn, .saveSlot, .loadSlot {
  width: 180px;
  height: 50px;
  text-transform: uppercase;
  background-color: rgba(28, 94, 125, 0.8);
  background: -o-linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  background: linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  font-family: 'Paytone One', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  left: -webkit-calc(50% - 75px);
  left: calc(50% - 75px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: block;
  margin: 0 auto 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .solutionBtn:not(:last-child):before, .leadersBtn:not(:last-child):before, .backBtn:not(:last-child):before, .saveBtn:not(:last-child):before, .loadBtn:not(:last-child):before, .saveSlot:not(:last-child):before, .loadSlot:not(:last-child):before {
    position: absolute;
    left: -40px; }
  .solutionBtn:not(:last-child):hover, .leadersBtn:not(:last-child):hover, .backBtn:not(:last-child):hover, .saveBtn:not(:last-child):hover, .loadBtn:not(:last-child):hover, .saveSlot:not(:last-child):hover, .loadSlot:not(:last-child):hover {
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px); }
    .solutionBtn:not(:last-child):hover:before, .leadersBtn:not(:last-child):hover:before, .backBtn:not(:last-child):hover:before, .saveBtn:not(:last-child):hover:before, .loadBtn:not(:last-child):hover:before, .saveSlot:not(:last-child):hover:before, .loadSlot:not(:last-child):hover:before {
      content: '\27A4'; }

.saveBtn.active, .loadBtn.active {
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s; }
  .saveBtn.active:before, .loadBtn.active:before {
    content: '\27A4';
    left: 20px;
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0; }
  .saveBtn.active:hover, .loadBtn.active:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .saveBtn.active:hover:before, .loadBtn.active:hover:before {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.saveSlot, .loadSlot {
  font-size: 1em;
  height: 30px;
  width: 140px;
  margin-bottom: 10px;
  display: none; }
  .saveSlot.active, .loadSlot.active {
    display: block; }

.solutionBtn:hover {
  -webkit-animation: solution 0.05s infinite;
          animation: solution 0.05s infinite; }

@-webkit-keyframes solution {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    color: #cacaca; }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #cacaca; } }

@keyframes solution {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    color: #cacaca; }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #cacaca; } }

.leadersPanel {
  position: fixed;
  z-index: 50;
  border-radius: 1%;
  width: 80%;
  height: 80%;
  top: 15%;
  left: 10%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  font-family: 'Paytone One', sans-serif;
  background: -o-linear-gradient(45deg, #1c5e7d 33%, #1c5e7d 66%, #8AA9D6);
  background: linear-gradient(45deg, #1c5e7d 33%, #1c5e7d 66%, #8AA9D6);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .leadersPanel.inactive {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    top: -100%; }

.leadersDifficultiesBtns, .leadersTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .leadersDifficultiesBtns .leadersDifficulties, .leadersTitle .leadersDifficulties {
    background-color: rgba(56, 120, 140, 0.9);
    -webkit-box-shadow: 2px 2px 10px #cacaca;
            box-shadow: 2px 2px 10px #cacaca;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 36px; }
    .leadersDifficultiesBtns .leadersDifficulties:hover, .leadersTitle .leadersDifficulties:hover {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg); }

.leadersGrid {
  height: 75%; }

.leader, .leadersHeader {
  height: 10%;
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 1fr 2fr 2fr 5fr;
  -webkit-tap-highlight-color: transparent;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid rgba(255, 255, 255, 0.4); }

.leadersHeader {
  height: 5%;
  font-size: 30px; }

.leadersCloseBtn {
  position: absolute;
  right: -50px;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(28, 94, 125, 0.8);
  background: -o-linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  background: linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .leadersCloseBtn:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg); }
  .leadersCloseBtn:before {
    content: '\00d7';
    position: absolute;
    font-size: 50px;
    top: -webkit-calc(50% - 32px);
    top: calc(50% - 32px);
    left: -webkit-calc(50% - 15px);
    left: calc(50% - 15px);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer; }
