@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  padding: 20px 15px 0;
  background: url("assets/images/bg.jpg") no-repeat 50%/cover;
  font-family: 'Paytone One', sans-serif;
  text-transform: uppercase;
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.win {
    overflow: hidden; }
    body.win:before {
      content: '';
      top: -20px;
      left: -15px;
      position: fixed;
      width: 105%;
      height: 105%;
      z-index: 10;
      background: -o-linear-gradient(45deg, #1c5e7d 33%, rgba(28, 94, 125, 0.9) 66%, #8AA9D6);
      background: linear-gradient(45deg, #1c5e7d 33%, rgba(28, 94, 125, 0.9) 66%, #8AA9D6); }
  body.gradient:after {
    content: '';
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: -o-radial-gradient(circle, rgba(0, 146, 255, 0.1) 19%, rgba(28, 94, 125, 0.9) 70%);
    background: radial-gradient(circle, rgba(0, 146, 255, 0.1) 19%, rgba(28, 94, 125, 0.9) 70%); }

.title {
  text-align: center;
  font-size: 80px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #384251,0 -2px 1px #fff;
  letter-spacing: -4px;
  margin-bottom: 0.5em; }

.menu, .sizes, .savesMainMenu {
  margin: 0 auto;
  font-size: 40px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #384251,0 0px 1px #fff;
  letter-spacing: -0px;
  line-height: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left; }
  .menu div, .sizes div, .savesMainMenu div {
    cursor: pointer; }
    .menu div:hover, .sizes div:hover, .savesMainMenu div:hover {
      -webkit-animation: menu 0.4s infinite;
              animation: menu 0.4s infinite;
      color: #F3F5A1; }

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  75% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes menu {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  75% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
  .menu.inactive, .sizes.inactive, .savesMainMenu.inactive {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg); }

.menu {
  margin-top: 100px; }

.sizes div:nth-child(7) {
  font-size: 24px;
  line-height: 3.5;
  color: #EAAB50;
  text-shadow: 10px 10px 10px #000;
  padding-right: 55px;
  position: relative; }
  .sizes div:nth-child(7):before {
    content: 'yes';
    right: 0;
    position: absolute; }
  .sizes div:nth-child(7).active:before {
    content: 'no'; }

.sizes.inactive {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg); }

.winPopup {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  width: 50%;
  height: 50%;
  z-index: 100;
  left: 25%;
  top: 25%;
  border-radius: 10px;
  background: -o-linear-gradient(45deg, #3E7E3E 33%, #294429 66%, #8AA9D6);
  background: linear-gradient(45deg, #3E7E3E 33%, #294429 66%, #8AA9D6);
  color: white;
  font-size: 40px;
  font-family: 'Paytone One', sans-serif;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .winPopup.inactive {
    top: -100%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  .winPopup .winPopupMoves, .winPopup .winPopupTime {
    padding-left: 100px;
    font-size: 30px;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    color: #ABD7D2; }
  .winPopup .winPopupName {
    min-width: 50px;
    margin: 20px 0;
    font-size: 25px; }
  .winPopup .winPopupSubmit {
    width: 200px;
    height: 50px;
    border-radius: 5%;
    background: -o-linear-gradient(45deg, #6FAFB7 33%, #294429 66%, #8AA9D6);
    background: linear-gradient(45deg, #6FAFB7 33%, #294429 66%, #8AA9D6);
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .winPopup .winPopupSubmit:hover {
      -webkit-box-shadow: 2px 2px 10px #000;
              box-shadow: 2px 2px 10px #000; }
    .winPopup .winPopupSubmit:active {
      -webkit-box-shadow: inset 2px 2px 10px #000;
              box-shadow: inset 2px 2px 10px #000;
      -webkit-transform: translate(1px, 1px);
          -ms-transform: translate(1px, 1px);
              transform: translate(1px, 1px); }
  .winPopup.active {
    display: block;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.puzzle {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(28, 94, 125, 0.5);
  -webkit-tap-highlight-color: transparent;
  display: grid;
  grid-auto-rows: 95px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
          box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
  margin-bottom: 1em;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }
  .puzzle.disabled:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0); }

.gem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(28, 94, 125, 0.8);
  background: -o-linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  background: linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  text-shadow: 0px 0px 9px black;
  color: rgba(255, 255, 255, 0.7);
  font-size: 40px;
  font-family: 'Paytone One', sans-serif;
  cursor: pointer;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px; }
  .gem.animation-left {
    -webkit-animation: animation-left 0.3s ease-in forwards;
            animation: animation-left 0.3s ease-in forwards; }
  .gem.animation-right {
    -webkit-animation: animation-right 0.3s ease-in forwards;
            animation: animation-right 0.3s ease-in forwards; }
  .gem.animation-top {
    -webkit-animation: animation-top 0.3s ease-in forwards;
            animation: animation-top 0.3s ease-in forwards; }
  .gem.animation-bottom {
    -webkit-animation: animation-bottom 0.3s ease-in forwards;
            animation: animation-bottom 0.3s ease-in forwards; }

@-webkit-keyframes animation-left {
  100% {
    -webkit-transform: translate(-105px);
            transform: translate(-105px); } }

@keyframes animation-left {
  100% {
    -webkit-transform: translate(-105px);
            transform: translate(-105px); } }

@-webkit-keyframes animation-right {
  100% {
    -webkit-transform: translate(105px);
            transform: translate(105px); } }

@keyframes animation-right {
  100% {
    -webkit-transform: translate(105px);
            transform: translate(105px); } }

@-webkit-keyframes animation-top {
  100% {
    -webkit-transform: translateY(-105px);
            transform: translateY(-105px); } }

@keyframes animation-top {
  100% {
    -webkit-transform: translateY(-105px);
            transform: translateY(-105px); } }

@-webkit-keyframes animation-bottom {
  100% {
    -webkit-transform: translateY(105px);
            transform: translateY(105px); } }

@keyframes animation-bottom {
  100% {
    -webkit-transform: translateY(105px);
            transform: translateY(105px); } }
  .gem.gradient {
    opacity: 0; }

.empty {
  font-size: 0;
  visibility: hidden;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px; }

.controlPanel {
  position: fixed;
  left: 5%;
  top: 15%;
  background: rgba(28, 94, 125, 0.5);
  border-radius: 5px;
  width: 300px;
  padding: 15px;
  display: none; }
  .controlPanel.active {
    display: block; }

.timer, .moves {
  width: 100%;
  line-height: 2;
  position: relative;
  text-align: left;
  padding-left: 7.5em;
  font-family: 'Paytone One', sans-serif;
  font-size: 1.5em;
  padding-top: 0.6em;
  background-color: rgba(28, 94, 125, 0.8);
  background: -o-linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  background: linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  border-radius: 5px; }
  .timer:before, .moves:before {
    content: 'Moves:';
    font-family: 'Paytone One', sans-serif;
    position: absolute;
    left: 1em;
    top: -webkit-calc(50% - 0.75em);
    top: calc(50% - 0.75em); }

.timer:before {
  content: 'your time:'; }

.solutionBtn, .leadersBtn, .backBtn, .saveBtn, .loadBtn, .saveSlot, .loadSlot, .restart {
  width: 180px;
  height: 50px;
  text-transform: uppercase;
  background-color: rgba(28, 94, 125, 0.8);
  background: -o-linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  background: linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  font-family: 'Paytone One', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: block;
  margin: 0 auto 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .solutionBtn:not(:last-child):before, .leadersBtn:not(:last-child):before, .backBtn:not(:last-child):before, .saveBtn:not(:last-child):before, .loadBtn:not(:last-child):before, .saveSlot:not(:last-child):before, .loadSlot:not(:last-child):before, .restart:not(:last-child):before {
    position: absolute;
    left: -40px; }
  .solutionBtn:not(:last-child):hover, .leadersBtn:not(:last-child):hover, .backBtn:not(:last-child):hover, .saveBtn:not(:last-child):hover, .loadBtn:not(:last-child):hover, .saveSlot:not(:last-child):hover, .loadSlot:not(:last-child):hover, .restart:not(:last-child):hover {
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px); }
    .solutionBtn:not(:last-child):hover:before, .leadersBtn:not(:last-child):hover:before, .backBtn:not(:last-child):hover:before, .saveBtn:not(:last-child):hover:before, .loadBtn:not(:last-child):hover:before, .saveSlot:not(:last-child):hover:before, .loadSlot:not(:last-child):hover:before, .restart:not(:last-child):hover:before {
      content: '\27A4'; }

.saveBtn.active, .loadBtn.active {
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s; }
  .saveBtn.active:before, .loadBtn.active:before {
    content: '\27A4';
    left: 20px;
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0; }
  .saveBtn.active:hover, .loadBtn.active:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .saveBtn.active:hover:before, .loadBtn.active:hover:before {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.saveSlot, .loadSlot {
  font-size: 1em;
  height: 30px;
  width: 140px;
  margin-bottom: 10px;
  display: none; }
  .saveSlot.active, .loadSlot.active {
    display: block; }

.solutionBtn:hover {
  -webkit-animation: solution 0.05s infinite;
          animation: solution 0.05s infinite; }

@-webkit-keyframes solution {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    color: #cacaca; }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #cacaca; } }

@keyframes solution {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    color: #cacaca; }
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #cacaca; } }

.solutionBtn.disabled {
  cursor: default;
  -webkit-animation: none;
          animation: none;
  background: #4A4747; }

.restart.disabled {
  cursor: default;
  -webkit-animation: none;
          animation: none;
  background: #4A4747;
  pointer-events: none; }

.leadersPanel {
  position: fixed;
  z-index: 50;
  border-radius: 1%;
  width: 80%;
  height: 80%;
  top: 15%;
  left: 10%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  font-family: 'Paytone One', sans-serif;
  background: -o-linear-gradient(45deg, #1c5e7d 33%, #1c5e7d 66%, #8AA9D6);
  background: linear-gradient(45deg, #1c5e7d 33%, #1c5e7d 66%, #8AA9D6);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .leadersPanel.inactive {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    top: -100%; }

.leadersDifficultiesBtns, .leadersTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .leadersDifficultiesBtns .leadersDifficulties, .leadersTitle .leadersDifficulties {
    background-color: rgba(56, 120, 140, 0.9);
    -webkit-box-shadow: 2px 2px 10px #cacaca;
            box-shadow: 2px 2px 10px #cacaca;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 36px; }
    .leadersDifficultiesBtns .leadersDifficulties:hover, .leadersTitle .leadersDifficulties:hover {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg); }

.leadersGrid {
  height: 75%; }

.leader, .leadersHeader {
  height: 10%;
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 1fr 2fr 2fr 5fr;
  -webkit-tap-highlight-color: transparent;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid rgba(255, 255, 255, 0.4); }

.leadersHeader {
  height: 5%;
  font-size: 30px; }

.leader div:nth-child(4) {
  font-size: 24px; }

.leadersCloseBtn, .winPopupCloseBtn {
  position: absolute;
  right: -50px;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(28, 94, 125, 0.8);
  background: -o-linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  background: linear-gradient(45deg, rgba(28, 94, 125, 0.8) 33%, rgba(28, 94, 125, 0.8) 66%, #8AA9D6);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .leadersCloseBtn:hover, .winPopupCloseBtn:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg); }
  .leadersCloseBtn:before, .winPopupCloseBtn:before {
    content: '\00d7';
    position: absolute;
    font-size: 50px;
    top: -webkit-calc(50% - 32px);
    top: calc(50% - 32px);
    left: -webkit-calc(50% - 15px);
    left: calc(50% - 15px);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer; }

.winPopupCloseBtn {
  background: -o-linear-gradient(45deg, #3E7E3E 33%, #3E7E3E 66%, #8AA9D6);
  background: linear-gradient(45deg, #3E7E3E 33%, #3E7E3E 66%, #8AA9D6);
  right: -40px; }
  .winPopupCloseBtn:before {
    top: -17px; }

.sound, .music {
  position: fixed;
  border-radius: 5px;
  bottom: 5%;
  right: 5%;
  border: 2px solid #2B4951;
  width: 50px;
  height: 50px;
  cursor: pointer; }

.music {
  right: 9%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: url("assets/images/music_off.ico") no-repeat 50%/cover; }
  .music.active {
    background: rgba(120, 240, 155, 0.3) url("assets/images/music_on.ico") no-repeat 50%/cover; }

.sound {
  background: url("assets/images/sound_off.png") no-repeat 50% 50%/contain;
  background-size: 80% 70%; }
  .sound.active {
    background: rgba(120, 240, 155, 0.3) url("assets/images/sound_on.ico") no-repeat 50%/cover; }

@media (max-width: 1599px) {
  body {
    background-size: 200% 200%;
    padding-top: 0; }
  .puzzle {
    margin-left: 400px; }
  .music {
    top: 20px;
    right: 10%; }
  .sound {
    top: 20px; } }

@media (max-width: 1250px) {
  body {
    padding-top: 180px;
    padding-bottom: 50px;
    height: 100%; }
  .puzzle {
    margin: 0 auto; }
  .title {
    font-size: 60px; }
  .controlPanel {
    left: 0;
    top: 0px;
    width: 100%;
    height: 160px;
    position: fixed; }
    .controlPanel.active {
      position: fixed;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 0.5fr repeat(3, 0.2fr);
      grid-column-gap: 10px;
      grid-row-gap: 5px; }
      .controlPanel.active > div, .controlPanel.active button {
        margin: 0;
        height: 60px;
        width: auto; }
      .controlPanel.active button:nth-child(5) {
        grid-area: 3 / 1 / 4 / 2;
        width: 70%;
        margin: 0 auto; }
      .controlPanel.active button:nth-child(6) {
        grid-area: 4 / 1 / 5 / 2;
        width: 70%;
        margin: 0 auto; }
      .controlPanel.active button:nth-child(7) {
        grid-area: 5 / 1 / 6 / 2;
        width: 70%;
        margin: 0 auto; }
      .controlPanel.active button:nth-child(9) {
        grid-area: 3 / 2 / 4 / 3;
        width: 70%;
        margin: 0 auto; }
      .controlPanel.active button:nth-child(10) {
        grid-area: 4 / 2 / 5 / 3;
        width: 70%;
        margin: 0 auto; }
      .controlPanel.active button:nth-child(11) {
        grid-area: 5 / 2 / 6 / 3;
        width: 70%;
        margin: 0 auto; }
  .moves {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 7em; }
  .timer {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 1.5em;
    padding-top: 0.65em;
    padding-left: 4em;
    width: 100%; }
    .timer:before {
      content: 'time'; }
  .backBtn {
    grid-area: 1 / 3 / 2 / 4; }
  .restart {
    grid-area: 1 / 4 / 2 / 5; }
  .saveBtn {
    grid-area: 2 / 1 / 2 / 2; }
  .loadBtn {
    grid-area: 2 / 2 / 2 / 3; }
  .leadersBtn {
    grid-area: 2 / 3 / 4 / 4; }
  .solutionBtn {
    grid-area: 2 / 4 / 4 / 4; }
  .puzzle {
    margin-right: auto;
    margin-bottom: 10px; }
  .music {
    right: 12%; }
  .solutionBtn:not(:last-child):before, .leadersBtn:not(:last-child):before, .backBtn:not(:last-child):before, .saveBtn:not(:last-child):before, .loadBtn:not(:last-child):before, .saveSlot:not(:last-child):before, .loadSlot:not(:last-child):before, .restart:not(:last-child):before {
    content: ''; }
  .solutionBtn:not(:last-child):hover, .leadersBtn:not(:last-child):hover, .backBtn:not(:last-child):hover, .saveBtn:not(:last-child):hover, .loadBtn:not(:last-child):hover, .saveSlot:not(:last-child):hover, .loadSlot:not(:last-child):hover, .restart:not(:last-child):hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .saveBtn.active, .loadBtn.active {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
    .saveBtn.active:before, .loadBtn.active:before {
      content: '';
      left: 0;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      -webkit-transition: 0;
      -o-transition: 0;
      transition: 0; }
    .saveBtn.active:hover, .loadBtn.active:hover {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .saveBtn.active:hover:before, .loadBtn.active:hover:before {
      content: '';
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
  .leadersPanel {
    font-size: 20px; }
  .leadersTitle {
    font-size: 30px; }
  .leadersHeader {
    font-size: 26px; }
  .leadersDifficultiesBtns .leadersDifficulties {
    font-size: 26px; }
  .music, .sound {
    top: 180px; }
  .winPopup {
    padding: 0 20px;
    font-size: 26px; } }

@media (max-width: 850px) {
  .puzzle {
    width: 95%; } }
