@import "fonts.scss";
@import "../css/reset";

body {
	padding-top: 20px;
	//position: relative;
	background: url("assets/images/bg.jpg") no-repeat 50%/cover;
	font-family: 'Paytone One', sans-serif;
	text-transform: uppercase;
	height: 100%;
	transition: all 0.4s;
}

.title {
	text-align: center;
	font-size: 80px;
  	color: #f1ebe5;
  	text-shadow: 0 13.36px 8.896px #384251,0 -2px 1px #fff;
  	letter-spacing: -4px;
  	margin-bottom: 0.5em;
}

.menu, .sizes {
	margin: 0 auto;
	font-size: 40px;
	color: #f1ebe5;
  	text-shadow: 0 13.36px 8.896px #384251,0 0px 1px #fff;
  	letter-spacing: -0px;
  	line-height: 2;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	max-width: 500px;
  	transition: 0.5s;	
  	transform-origin: left;
  	& div {
  		cursor: pointer;
  		&:hover {
  			animation: menu 0.4s infinite;
  			color: #F3F5A1;
  		}	
  		@keyframes menu {
  			0% {transform: translateX(0px);}	
	  		25% {transform: translateX(20px);}	
	  		75% {transform: translateX(-20px);}	
	  		100% {transform: translateX(0px);}	
  		}
	} 
	&.inactive{
		transform: rotateX(90deg);
	}
}
.sizes {
	&.inactive{
		transform: rotateX(90deg);
	}
}
body.block {
	&:before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: 5;
		overflow: hidden;
		background-color: rgba(120,80,115,0.6);
	}
}

.win_popup {
	position: absolute;
	width: 30%;
	height: 30%;
	z-index: 6;
	background-color: rgba(120,80,115, 1);
	color: #fff;
	font-size: 20px;
	font-family: Arial, serif;
	line-height: 2;
	padding: 10px;
	top: 35%;
	left: 35%;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,.8) 3px 3px 8px -3px;
	display: none;
	transform: scale(0);
	transition: all 0.3s;
	&.active {
		display: block;
		transform: scale(1);
	}
}

.puzzle {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	user-select: none;
	background: rgba(28,94,125, 0.5);
	-webkit-tap-highlight-color: transparent;
	display: grid;
	grid-auto-rows: 95px;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	box-shadow:
	rgba(0,0,0,.8) 3px 3px 8px -3px;
	margin-bottom: 1em;
}
.gem {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(28,94,125, 0.8);
	background: linear-gradient(45deg, rgba(28,94,125, 0.8) 33%, rgba(28,94,125, 0.8) 66%, #8AA9D6);
	color: rgba(255,255,255,.7);
	font-size: 40px;
	font-family: 'Paytone One', sans-serif;
	cursor: pointer;
	box-shadow:
		inset rgba(0,0,0,.5) -3px -3px 8px,
		inset rgba(255,255,255,.9) 3px 3px 8px,
		rgba(0,0,0,.8) 3px 3px 8px -3px;
	&.animation-left {
		animation: animation-left 0.3s ease-in forwards;
	}
	&.animation-right {
		animation: animation-right 0.3s ease-in forwards;
	}
	&.animation-top {
		animation: animation-top 0.3s ease-in forwards;
	}	
	&.animation-bottom {
		animation: animation-bottom 0.3s ease-in forwards;
	}

	@keyframes animation-left {
		100% {
			transform: translate(-105px)
		}
	}
	@keyframes animation-right {
		100% {
			transform: translate(105px)
		}
	}
	@keyframes animation-top {
		100% {
			transform: translateY(-105px)
		}
	}
	@keyframes animation-bottom {
		100% {
			transform: translateY(105px)
		}
	}
}
.empty {
	font-size: 0;
	visibility: hidden;
	box-shadow:
	inset rgba(0,0,0,.5) -3px -3px 8px,
	inset rgba(255,255,255,.9) 3px 3px 8px,
	rgba(0,0,0,.8) 3px 3px 8px -3px;

}
.controlPanel {
	position: fixed;
	left: 5%;
	top: 15%;
	background: rgba(28,94,125, 0.5);
	border-radius: 5px;
	width: 300px;
	padding: 15px;
	display: none;
		&.active {
		display: block;
	}

}

.timer, .moves {
		width: 100%;
		line-height: 2;
		position: relative;
		text-align: left;
		padding-left: 7.5em;
		font-family: 'Paytone One', sans-serif;
		font-size: 1.5em;
		padding-top: 0.6em;	
		background-color: rgba(28,94,125, 0.8);
		background: linear-gradient(45deg, rgba(28,94,125, 0.8) 33%, rgba(28,94,125, 0.8) 66%, #8AA9D6);
		color: rgba(255,255,255,.7);
		margin-bottom: 20px;
		border-radius: 5px;
		&:before {
			content: 'Moves:';
			font-family: 'Paytone One', sans-serif;
			position: absolute;
			left: 1em;
			top: calc(50% - 0.75em);
		}
}

.timer:before {
	content: 'your time:';
}

.solutionBtn, .leadersBtn, .backBtn, .saveBtn, .loadBtn, .saveSlot, .loadSlot  {
	width: 180px;
	height: 50px;
	text-transform: uppercase;
	background-color: rgba(28,94,125, 0.8);
	background: linear-gradient(45deg, rgba(28,94,125, 0.8) 33%, rgba(28,94,125, 0.8) 66%, #8AA9D6);
	color: rgba(255,255,255,.7);
	font-size: 2em;
	font-family: 'Paytone One', sans-serif;
	border-radius: 5px;
	cursor: pointer;
	left: calc(50% - 75px);
	transition: 0.5s;
	display: block;
	margin: 0 auto 20px;
	transition: transform 0.3s;
	&:not(:last-child):before {
		//content: '\27A4';
		position: absolute;
		left: -40px;
	}
	&:not(:last-child):hover {
		transform: translateX(30px);
		&:before {
			content: '\27A4'}
	}

}
.saveBtn, .loadBtn {
	&.active {
		transition: all 0s;
		&:before {
			content: '\27A4';
			left: 20px;
			transform: translateX(-40px);
			transform: rotate(90deg);
			transition: 0;
		}
		&:hover {
			transform: none;
		}
		&:hover:before {
			transform: translateX(-40px);
			transform: rotate(90deg);
		}
	}
}
.saveSlot, .loadSlot {
	font-size: 1em;
	height: 30px;
	width: 140px;
	margin-bottom: 10px;
	display: none;
	// transform-origin: top;
	// transform: scaleY(0);
	//transition: 0.3s;
	&.active {
		display: block;
		// transform: scaleY(1);
		//transition: 0.3s;
	}
}

.solutionBtn {
	&:hover {
		animation: solution 0.05s infinite;
  		@keyframes solution {
  			0% {transform: translateX(0px);}	
	  		25% {transform: translateX(3px);color: #cacaca;}	
	  		75% {transform: translateX(-3px);}	
	  		100% {transform: translateX(0px);color: #cacaca;}	
  		}
	}
}